body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
}

@font-face{
  font-family: "PlayStationFont";
  src: url(PlayStationFont.ttf);
}


* {
  box-sizing: content-box;
 }

h2{
  color: white;
  margin-top: -5px;
}

p{
  color: white;
  line-height: 1;
  margin-top: -1px;
}

.button_1{
  text-align: center;
  margin-top: 70px;
}

.button_1 button{
  background-color: rgb(2, 53, 190, 0.85);
  color: white;
  padding: 24px 150px;
  font-family: 'PlayStationFont';
  display: inline-flex;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  border:none;
}

.button_2{
  text-align: center;
  margin-top: 90px;
  padding-left: 30px;
}

.button_2 button{
  background-color: rgb(2, 53, 190, 0.85);
  color: white;
  padding: 24px 150px;
  font-family: 'PlayStationFont';
  display: inline-flex;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  border:none;
}

.button_3{
  text-align: center;
  margin-top: 70px;
  padding-left: 30px;
  padding-top: 20px;
}

.button_3 button{
  background-color: rgb(2, 53, 190, 0.85);
  color: white;
  padding: 24px 150px;
  font-family: 'PlayStationFont';
  display: inline-flex;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  border:none;
}

.text_box{
    position: center;
    max-width: 1400px;
    height: 1300px;
    padding: 50px;
    background: rgba(3, 12, 92, 0.7);
    border-radius: 5px;
    float: left;
    margin: 100px auto 0;
    overflow: hidden;
  }


.container_1 {
  width: 10000px;
  overflow: hidden;
}


.container_1 img{
  width: 650px;
  height: 375px;
  float: left;
  margin-left: -50px;
}

.text_1{
  float: left;
}


.text_1 h2{
  font-size: 24px;
  padding-left: -5px;
  padding: -10px;
  text-align: left;
  margin-left: 0px;
  font-family: "PlayStationFont";
}

.text_1 p{
  font-size: 18px; 
  font-family: "PlayStationFont";
  text-align: left;
  margin-left: 2px;
}

.container_2 {
  width: 10000px;
  overflow: hidden;
}


.container_2 img{
  width: 584px;
  height: 375px;
  float: left;
  margin-left: -5px;
}

.text_2{
  float: left;
}


.text_2 h2{
  font-size: 24px;
  padding-left: -5px;
  padding: -10px;
  text-align: left;
  margin-left: 28px;
  font-family: "PlayStationFont";
}

.text_2 p{
  font-size: 18px; 
  font-family: "PlayStationFont";
  text-align: left;
  margin-left: 28px;
}


.container_3 {
  width: 10000px;
  overflow: hidden;
}


.container_3 img{
  width: 584px;
  height: 375px;
  float: left;
  margin-left: -5px;
}

.text_3{
  float: left;
}


.text_3 h2{
  font-size: 24px;
  padding-left: -5px;
  padding: -10px;
  text-align: left;
  margin-left: 28px;
  font-family: "PlayStationFont";
}

.text_3 p{
  font-size: 18px; 
  font-family: "PlayStationFont";
  text-align: left;
  margin-left: 28px;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}